 /*
 .wrapper {
     display: grid;
     grid-template: repeat(3, 100px) / repeat(3, 1fr);
     grid-gap: 3px;
     background: black;
 }


 .one, .two, .three, .four, .five, .six, .seven, .eight, .nine {
     display: flex;
     border: 2px solid black;
     justify-content: center;
     align-items: center;
     background: white;
 }

 .one {
     background: red;
     grid-row: 1 / 3;
    
 }

 .six {
     background: blue;
 }
 
 .nine {
     grid-row: 4 / 3;
 }
 */

 .wrapper {
     display: grid;
     grid-template-columns: repeat(7, 1fr);
     grid-template-rows: 40px auto 40px;
     height: 100%
 }

 .one, .two, .three, .four, .five, .six, .seven {
     display: flex;
     border: 2px solid black;
     justify-content: center;
     align-items: center;
 }